a:visited {
    color: white;
}

.sidebar {
    background-color: rgba(121, 120, 120, 0.856);
    padding: 2rem 0 !important;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1;
}

.sidebar .nav-link {
    padding: 0.6rem 1.2rem;
    color: white;
}

.dashboard {
    background-image: url('cell-phone-close-up-contemporary-905873.jpg');
    background-position: -25vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: rgb(255, 255, 255);
    line-height: 1.2;
}

.btn.btn-link {
    color: white !important;
}

.btn.btn-link.my:hover {
    color: rgb(247, 173, 160) !important;
}

.sidebar a{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.sidebar a:hover,
.sidebar a:focus {
    color: lightgray !important;
}

#new-project {
    padding: 0.5rem;
}
.todo-item {
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.637);
    margin: 0 2rem;
    font-size: 14px;
    font-weight: 500;
}
.todo-item.checked * {
    opacity: .7;
}

.todo-item button:hover {
    color: black !important;
}

.todo-item button {
    font-size: 1rem;
}

button.priority:hover, 
button.priority:focus {
    background-color: rgb(238, 236, 236);
}

hr {
    /* margin: 0 !important; */
}