a:visited {
    color: white;
}


h1 {
    font-family: 'Quicksand', sans-serif !important;
  }
.sidebar {
    /* background-color: rgba(214, 213, 213, 0.856); */
    background-color: whitesmoke;
    padding: 2rem 0 !important;
    height: calc(100vh - 60px);
    /* overflow-y: h; */
    overflow-x: hidden;
    color: grey;
}

.sidebar .nav-link {
    padding: 0.6rem 1.2rem;
    line-height: 1;
    /* color: white; */
}

.dashboard {
    /* background-image: url('cell-phone-close-up-contemporary-905873.jpg'); */
    background-color: aliceblue;
    background-position: -25vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: rgb(255, 255, 255);
    line-height: 1.2;
}

nav .btn.btn-link {
    color: white !important;
}

.btn.btn-link.my:hover {
    color: rgb(247, 173, 160) !important;
}

.sidebar h5 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.sidebar a{
    color: #66615b;
    font-size: 0.8rem;
    /* text-transform: uppercase; */
    font-weight: bold;
    padding: 0 15%;
}

.sidebar a:hover,
.sidebar a:focus {
    /* color: rgb(252, 127, 105) !important; */
    color: #c0c1c2 !important;
    text-decoration: underline;   
}

#new-project {
    padding: 0.5rem;
}
.todo-item {
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.637);
    margin: 0 2rem;
    font-size: 14px;
    font-weight: 500;
}
.todo-item.checked * {
    opacity: .7;
}

.todo-item button:hover {
    color: black !important;
}

.todo-item button {
    font-size: 1rem;
}
.todo-item .btn.btn-link i,
.sidebar .btn.btn-link {
    color: gray !important;
}
button.priority:hover, 
button.priority:focus {
    background-color: rgb(238, 236, 236);
}

hr {
    border-color: #dddddd !important;
}